---
import BaseLayout from "@layouts/BaseLayout.astro";
import Title from "@components/Title.astro";
---

<BaseLayout title="About" description="Read about this site.">
  <Title>About</Title>
  <p>
    This is a little blog made by <a
      href="https://github.com/luizffgv"
      target="_blank"
      rel="noopener noreferrer">luizffgv</a
    > using <a
      href="https://astro.build/"
      target="_blank"
      rel="noopener noreferrer">Astro</a
    >. It is their first Astro project!
  </p>
  <p>
    You can view the blog's source code <a
      href="https://github.com/luizffgv/Reducet-astro"
      target="_blank"
      rel="noopener noreferrer">here</a
    >.
  </p>
</BaseLayout>
